<template>
  <section>
    <div id="tasks" class="container">
      <form>
        <div class="form-group">
          <label for="title">
            <h3>Tasks <span class="text-black-50">({{ tasks.length }})</span></h3>
          </label>
          <div class="input-group">
            <input class="form-control"
                   id="title"
                   type="text"
                   placeholder="Add Task"
                   v-model="title">
            <div class="input-group-append">
              <button @click.prevent="createTask(title)"
                      class="btn btn-primary"
                      type="submit">
                + Add
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center" v-if="fetching">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <ul class="list-group" v-else-if="tasks.length">
        <li @dblclick="toggleTask(task.id)"
            :class="[task.done && 'list-group-item-success']"
            :key="index"
            class="input-group list-group-item d-flex align-items-center justify-content-between"
            v-for="(task, index) in tasks">
            <del v-if="task.done">{{ task.title }}</del>
            <span v-else>{{ task.title }}</span>
          <button @click.prevent="destroyTask(task.id)"
                  class="btn btn-danger"
                  type="submit">
            X
          </button>          
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Tasks',
  props: {
    fetching: Boolean,
  },
  data() {
    return {
      title: '',
      tasks: []
    };
  },
  methods: {
    async createTask(title) {
      this.title = '';
      if (!title.trim()) {
        return alert('Invalid Task!');
      }
      await fetch("/tasks", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ title: title })
      });
      await this.loadTasks();
    },
    async destroyTask(id) {
      await fetch("/tasks/" + id, {
        method: "DELETE",
      });
      await this.loadTasks();
    },
    async loadTasks() {
      this.fetching = true;

      const response = await fetch("/tasks");
      this.tasks = await response.json();

      this.fetching = false;
      console.log('Tasks Loaded!');
    },
    async toggleTask(id) {
      await fetch("/tasks/" + id + '/toggle', {
        method: "PUT",
      });
      await this.loadTasks();
    },
  },
  async created() {
      this.loadTasks();
  },  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
